$body-bg: antiquewhite;
$body-color: #333333;

@font-face {
    font-family: "ASongForJennifer";
    src: url("./asongforjennifer.ttf") format('truetype');
}

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';